<body>
<div class="container-fluid">

<form class="form-inline d-flex mt-4 w-50">
  <input class="form-control mr-sm-4 text-center" type="search" placeholder="Ville/pays" aria-label="Search">
  <button class="btn btn-secondary" type="submit" style="margin-right: 12px;">Chercher</button>
</form>
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div id="flag"></div>
          <div id="weather-info"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1>Last 10 Visitors</h1>

          <ul>
            <% Visitor.order(created_at: :desc).limit(10).each do |visitor| %>
              <li>
                <img src="https://flagcdn.com/w20/<%= visitor.countryCode.downcase %>.png"
                srcset="https://flagcdn.com/w40/<%= visitor.countryCode.downcase %>.png 2x"
                width="40"
                alt="<%= visitor.country %>">
                <%= visitor.country %> - <%= visitor.city %> - <%= visitor.temperature %> - <%= visitor.windSpeed %> - <%= visitor.weatherCondition %> - <%= visitor.precipitation %> - <%= visitor.dayOrNight %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
